<h2>Create Resume</h2>
<%= form_for(@resume) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :age %><br />
  <%= f.text_field :age %>
</div>
<div class="field">
  <%= f.label :address %><br />
  <%= f.text_area :address, :rows => 3, :style => "height: 30px" %>
</div>
<div class="field">
  <%= f.label :format %><br />
  <%= f.text_field :format %>
</div>

<div class="actions">
  <%= f.submit "create Resume" %>
</div>
<% end %>
